@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    flex: 0 1 27%;
    background-color: salmon;
    border: 3px solid black;
    height: 200px;
    margin: .5rem 0;
    padding: 1rem;
}